<script>
$(function() {
  var master_data = {{field_data | safe}}
  var datatable = $('#fields_datatable').dataTable({
     "aaData": [
      ],
      "aoColumns": [
         { "sTitle": "OB", "sDefaultContent":"" },
         { "sTitle": "OB type", "sDefaultContent":"" },
         { "sTitle": "Date", "sDefaultContent":"" },
         { "sTitle": "Time (UT)", "sDefaultContent":"" },
         { "sTitle": "MJD", "sDefaultContent":"" },
         { "sTitle": "# Bands", "sDefaultContent":"" },
         { "sTitle": " ", "sDefaultContent":"" },
      ]
  });

  function makeTable(data){
    var newdata = []
    $.each(data, function(k,v) {
      var rows = []
      var targetID = k.split(' ')[0]
      var OB = k.split(' ')[1]
      var download_link = '/download/'+targetID+'/'+OB
      var url = '/fields/'+targetID+'/'+OB+'/'
      rows.push("<a href="+url+">"+OB+"</a>")
      rows.push(v.obtype)
      rows.push(v.date)
      rows.push(v.time)
      rows.push(v.mjd)
      rows.push(v.n_bands)
      rows.push("<a class='download' href="+download_link+">"+"Download"+"</a>")
      newdata.push(rows)
    });
    datatable.fnClearTable()
    datatable.fnAddData(newdata)
  }
  $(document).on('click','.download',function() {
    $('.span2').append('<div class="alert"><button type="button" class="close" data-dismiss="alert">&times;</button><strong>Your download is being prepared</strong></div>')
  });
  makeTable(master_data)
  

});
</script>


<div class="page-header" style="margin-bottom:10px">
  <h2>Observations with TARGETID {{targetID}}</h2>
</div>

<a href="/download/{{targetID}}/"><button style="margin-bottom: 10px;" class="download btn btn-primary" id="download_all">Download all</button></a>
<table id="fields_datatable"></table>

