<table id="imagequery_results">
<thead>
  <tr>
    <th>Distance (arcminutes) </th>
    <th>FieldID</th>
    <th>OB</th>
    <th>Date-obs</th>
  </tr>
</thead>
<tbody>
{% for field in fields %}
  <tr>
    <td>{{field.distance|stringformat:"0.1f"}}</td>
    <td><a href="/fields/{{field.targetID}}">{{field.targetID}}</a></td>
    <td><a href="/fields/{{field.targetID}}/{{field.OB}}">{{field.OB}}</a></td>
    <td>{{field.date_obs}}</td>
  </tr>
{% endfor %}
</tbody>
</table>


<script>
  $(document).ready(function(){
      $('#imagequery_results').dataTable();
      });
</script>

