<div id="image-container">
  <script src="{{ STATIC_URL }}js/imagequery.js"></script>  <!--Load the images only when the server has created them--> 
  {% for target in targets %}
  <h2>Field TARGETID: {{ target.name }}</h2>
  <p>(Distance from center of image: {{target.distance|stringformat:"0.1f"}} arcseconds)</p>
  {% for OB in target.OBs %}
  <h3>Observation block: {{ OB.OBname }}</h3>
  <input class="spoilerbutton" type="button" value="Show" onclick="this.value=this.value=='Show'?'Hide':'Show';">
  <div class="spoiler">
      {% for imgdata in OB.data %}
      <div class="image">
        <img class="png{{imgdata.PATH_PNG|cut:".png"}}" src="{{ STATIC_URL }}images/hourglass.png" />
        <div class="image-info">
          <ul>
            <li>Band: {{ imgdata.BAND }}</li>
            <li>Date: {{ imgdata.DATE_OBS }}</li>
            <li><a href="X">Query detected objects in this field</a></li>
            <li><a download="grond.png" type="application/octet-stream" href="{{ MEDIA_URL }}{{ imgdata.PATH_PNG }}">Download PNG</a></li>
            <li><a href="{{ imgdata.PATH_RAW }}">Download FITS</a></li>
          </ul>   
        </div>
      </div>
      <script>
        setTimeout(function(){fileExists("{{ MEDIA_URL }}{{ imgdata.PATH_PNG }}",0)},800)
      </script>
  {% endfor %}
  {% endfor %}
  {% endfor %}
  </div>
</div>
