<div id="results-container">
  <table id="imagequery_results" cellspacing=2>
  <thead>
    <tr>
      <th>Distance (arcminutes) </th>
      <th>FieldID</th>
      <th>OB</th>
      <th>Date-obs</th>
    </tr>
  </thead>
  <tbody>
  {% for target in targets %}
  {% for OB in target.OBs %}
    <tr>
      <td>{{target.distance|stringformat:"0.1f"}}</td>
      <td>{{target.name}}</td>
      <td>{{ OB.OBname }}</td>
      <td>{{ OB.date_obs}} </td>
    </tr>
  {% endfor %}
  {% endfor %}
  </tbody>
  </table>


  <script>
    $(document).ready(function(){
        $('#imagequery_results').dataTable();
        });
  </script>
</div>
