<div id="image-container">
  {% for source in sources %}
  <h2>Source ID: <a href="/sources/{{source.name}}">{{ source.name }}<a/></h2>
  <p>(Distance: {{source.distance|stringformat:"0.1f"}} arcseconds)</p>
  {% for OB in source.OBs %}
  <h3>Observation block: {{ OB.OBname }}</h3>
  <input class="spoilerbutton" type="button" value="Show" onclick="this.value=this.value=='Show'?'Hide':'Show';">
  <div class="spoiler">
      {% for srcdata in OB.data %}
      <div class="image">
        <div class="image-info">
          <ul>
            <li>BAND: {{ srcdata.BAND }} </li>
            <li>PSF: {{ srcdata.MAG_PSF }}</li>
            <li>APP: {{ srcdata.MAG_APP }}</li>
            <li>Imageheader: {{ srcdata.imageheader }}</li>
          </ul>   
        </div>
      </div>
  {% endfor %}
  {% endfor %}
  </div>
  {% endfor %}
</div>
