<div class='image-cutout-container'>
  {% for hdr in imageheaders %}
  <img src="{{MEDIA_URL}}{{hdr.fname}}" class="img-rounded" />
  {% endfor %}
</div>


{% if sources == "NO_SOURCES_DETECTED" %}
<div class="hint">No sources detected at given radius<div>
{% else %}
<table id="objectquery_results">
<thead>
  <tr>
    <th>Distance (arcseconds) </th>
    <th>SourceID</th>
  </tr>
</thead>
<tbody>
{% for target in sources %}
  <tr>
    <td {% if target.ownership != "pipeline" %} class="userdetection" {% endif %}>{{target.distance|stringformat:"0.1f"}}</td>
    <td {% if target.ownership != "pipeline" %} class="userdetection" {% endif %}><a href="/sources/{% if target.ownership != "pipeline" %}{{user}}/{% endif %}{{target.name}}">{{target.name}}</a></td>
  </tr>
{% endfor %}
</tbody>
</table>

<script>
  $('#objectquery_results').dataTable();
</script>
{% endif %}
