{% load hash %}
{% load sorting %}

<script>

$(function() {
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) == (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');

  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  };

  $.ajaxSetup({
    crossDomain: false, // obviates need for sameOrigin test
    beforeSend: function(xhr, settings) {
      if ( !csrfSafeMethod(settings.type) ) {
        // Send the token to same-origin, relative URLs only.
        // Send the token only if the method warrants CSRF protection
        // Using the CSRFToken value acquired earlier
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });

  $('#lightcurve').highcharts({
    chart: {
        zoomType: 'xy'
    },
    title: {
        text: 'Lightcurve'
    },
    xAxis: [{
        categories: {{lightcurve.x}},
                    title: {
                        text: 'MJD',
                        style: {
                            color: '#89A54E'
                        }
                    }
    }],
    yAxis: [{ // Primary yAxis
        reversed:true,
        labels: {
            formatter: function() {
                return this.value;
            },
            style: {
                color: '#89A54E'
            }
        },
        title: {
            text: 'Magnitude (AB)',
            style: {
                color: '#89A54E'
            }
        }
    },],

    tooltip: {
        shared: true
    },

    series: [{
        name: '{{lc_band}}',
        color: '#89A54E',
        type: 'spline',
        data: {{lightcurve.y}},
        tooltip: {
            pointFormat: '<span style="font-weight: bold; color: {series.color}">{series.name}</span>: <b>{point.y:.1f}</b> '
        }
    }, {
        name: 'Magnitude error',
        type: 'errorbar',
        data: {{lightcurve.yerr}},
        tooltip: {
            pointFormat: ''
        }
    }]
  });



  $('#sed').highcharts({
    chart: {
        zoomType: 'xy'
    },
    title: {
        text: 'Spectral energy distribution'
    },
    xAxis: [{
        categories: {{SED.x}},
                    title: {
                        text: 'Wavelength (nm)',
                        style: {
                            color: '#89A54E'
                        }
                    }
    }],
    yAxis: [{ // Primary yAxis
        reversed:true,
        labels: {
            formatter: function() {
                return this.value;
            },
            style: {
                color: '#89A54E'
            }
        },
        title: {
            text: 'Magnitude (AB)',
            style: {
                color: '#89A54E'
            }
        }
    },],

    tooltip: {
        shared: true
    },

    series: [{
        name: 'Magnitude',
        color: '#89A54E',
        type: 'spline',
        data: {{SED.y}},
        tooltip: {
            pointFormat: '<span style="font-weight: bold; color: {series.color}">{series.name}</span>: <b>{point.y:.1f}</b> '
        }
    }, {
        name: 'Magnitude error',
        type: 'errorbar',
        data: {{SED.yerr}},
        tooltip: {
            pointFormat: ''
        }
    }]
  });

  $('#source_datatable').dataTable();

  $('img.forcedetect').click(function() {
      if ( this.className.indexOf('busy') > 0 ) {
        return
      };

      if ( $('img.busy').length > 3 ) {
        alert('Only 4 active reductions are allowed!')
        return
      };
      var target = this.className.split(" ");
      var targetID = target[1].split("?")[0];
      var OB = target[1].split("?")[1];
      var band = target[1].split("?")[2];
      var ra = {{nominalOB.0.astrosource.RA}};
      var dec = {{nominalOB.0.astrosource.DEC}};
      var thisButton = this;
      $.ajax({
        type: 'POST',
        data: { 
          'ra': ra,
          'dec': dec,
          'OB': OB,
          'targetID': targetID,
          'band': band
        },
        dataType: 'json',
        url: '/forcedetect/',
        success: function(data, textStatus, jqXHR){
          thisButton.src = '{{STATIC_URL}}images/ajax-loader.gif';
          thisButton.className += ' busy ' + data['jobid'];
          $('#logfile-container').append('<div id="logfile" class="'+data['jobid']+'">test</div>');
          pollWrapper(thisButton, data['jobid'], targetID, OB, band, ra, dec, data['logfile'], data['resultfile']);
        },
      });
  });

  function pollWrapper(thisButton, jobid, targetID, OB, band, ra, dec, logfile, resultfile) {
    var pollID=setInterval(function() { poll(thisButton, jobid, targetID, OB, band, ra, dec, logfile, resultfile) }, 1000);
    function poll(thisButton, jobid, targetID, OB, band, ra, dec, logfile, resultfile) {
      $.ajax({
        type: 'GET',
        data: { 
          'ra': ra,
          'dec': dec,
          'OB': OB,
          'targetID': targetID,
          'band': band,
          'logfile': logfile,
          'resultfile': resultfile,
        },
        dataType: 'json',
        url: '/forcedetect/'+jobid,
        success: function(data, textStatus, jqXHR){
          console.debug('polled '+jobid);
          if ( data['completed'] ) {
            console.debug(data['completed'])
            clearInterval(pollID)
            $('img.'+jobid).parent().next().html('<div class="userdetection">'+data['result_err']+'</div>')
            $('img.'+jobid).replaceWith('<div class="userdetection">'+data['result']+'</div>')
          }
          else {
            $('#logfile.'+jobid).append(data['result']+'<br>')
            $('#logfile.'+jobid).animate({scrollTop:$('#logfile.'+jobid)[0].scrollHeight}, 1000);
          }; 
        },
      });
    }; 
  };

});




</script>


<div id="source_title">
  Target RA, Dec: {{nominalOB.0.astrosource.RA}}, {{nominalOB.0.astrosource.DEC}}
  <div class="subtitle">
    Image cutouts and SED derived from {{nominalOB.0.imageheader.OB}}. {{ lc_band }}-band lightcurve.
  </div>
</div>


<!--Lightcurve, SED, cutouts-->
<div id='image-cutout'>
  {% for hdr in imageheaders %}
  <img src="{{MEDIA_URL}}{{hdr.fname}}" />
  {% endfor %}
</div>
<div id="lightcurve"></div>
<div id="sed"></div>

<!--Data table-->
<table id="source_datatable">
  <thead>
    <tr>
      {% for column in userColumns %}
      <th>{{column}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for OB in source_data %}
      <tr>
      {% for column in userColumns %}
        {% if column == "OBname" %}
        <td><a href='/fields/{{nominalOB.0.imageheader.TARGETID}}/{{OB.OBname}}'>{{OB | hash:column }}</a></td>
        {% else %}
          {% if OB|hash:column %}
        <td>{{OB|hash:column }}</td>
          {% else %}
            {% if "_err" not in column %}
        <td> <img src="{{STATIC_URL}}images/plus_circle.png" class="forcedetect {{nominalOB.0.imageheader.TARGETID}}?{{OB.OBname}}?{{column}}" /> </td>
            {% else %}
            <td></td>
            {% endif %}          
          {% endif %}
        {% endif %}      
      {% endfor %}
      </tr>
      {% endfor %}
  </tbody>
</table>
<div id="logfile-container"></div>
