{% load hash %}
{% load sorting %}

<script>

$(function() {
    $('#lightcurve').highcharts({
        chart: {
            zoomType: 'xy'
        },
        title: {
            text: 'Lightcurve'
        },
        xAxis: [{
            categories: {{lightcurve.x}},
                        title: {
                            text: 'MJD',
                            style: {
                                color: '#89A54E'
                            }
                        }
        }],
        yAxis: [{ // Primary yAxis
            reversed:true,
            labels: {
                formatter: function() {
                    return this.value;
                },
                style: {
                    color: '#89A54E'
                }
            },
            title: {
                text: 'Magnitude (AB)',
                style: {
                    color: '#89A54E'
                }
            }
        },],

        tooltip: {
            shared: true
        },

        series: [{
            name: 'Magnitude',
            color: '#89A54E',
            type: 'spline',
            data: {{lightcurve.y}},
            tooltip: {
                pointFormat: '<span style="font-weight: bold; color: {series.color}">{series.name}</span>: <b>{point.y:.1f}</b> '
            }
        }, {
            name: 'Magnitude error',
            type: 'errorbar',
            data: {{lightcurve.yerr}},
            tooltip: {
                pointFormat: ''
            }
        }]
    });
});

$(function() {
    $('#sed').highcharts({
        chart: {
            zoomType: 'xy'
        },
        title: {
            text: 'Spectral energy distribution'
        },
        xAxis: [{
            categories: {{SED.x}},
                        title: {
                            text: 'Wavelength (nm)',
                            style: {
                                color: '#89A54E'
                            }
                        }
        }],
        yAxis: [{ // Primary yAxis
            reversed:true,
            labels: {
                formatter: function() {
                    return this.value;
                },
                style: {
                    color: '#89A54E'
                }
            },
            title: {
                text: 'Magnitude (AB)',
                style: {
                    color: '#89A54E'
                }
            }
        },],

        tooltip: {
            shared: true
        },

        series: [{
            name: 'Magnitude',
            color: '#89A54E',
            type: 'spline',
            data: {{SED.y}},
            tooltip: {
                pointFormat: '<span style="font-weight: bold; color: {series.color}">{series.name}</span>: <b>{point.y:.1f}</b> '
            }
        }, {
            name: 'Magnitude error',
            type: 'errorbar',
            data: {{SED.yerr}},
            tooltip: {
                pointFormat: ''
            }
        }]
    });
});

$(document).ready(function(){
      $('#source_datatable').dataTable();
      });

</script>


<div id="source_title">
  Target RA, Dec: {{nominalOB.0.astrosource.RA}}, {{nominalOB.0.astrosource.DEC}}
  <div class="subtitle">
    Image cutouts and SED derived from {{nominalOB.0.imageheader.OB}}. {{ lc_band }}-band lightcurve.
  </div>
</div>


<!--Lightcurve, SED, cutouts-->
<div id='image-cutout'>
  {% for photo_obj in nominalOB %}
  <img src="{{MEDIA_URL}}{{photo_obj.fname}}" />
  {% endfor %}
</div>
<div id="lightcurve"></div>
<div id="sed"></div>

<!--Data table-->
<table id="source_datatable">
  <thead>
    <tr>
      {% for column in userColumns %}
      <th>{{column}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for OB in source_data %}
      <tr>
      {% for column in userColumns %}
        {% if column == "OBname" %}
        <td><a href='/fields/{{nominalOB.0.imageheader.TARGETID}}/{{OB.OBname}}'>{{OB | hash:column }}</a></td>
        {% else %}
        <td>{{OB | hash:column }}</td>
        {% endif %}      
      {% endfor %}
      </tr>
      {% endfor %}
  </tbody>
</table>

