{% load hash %}
{% load sorting %}

<script>

$(function() {
    $('#lightcurve').highcharts({
        chart: {
            zoomType: 'xy'
        },
        title: {
            text: 'Lightcurve'
        },
        xAxis: [{
            categories: {{lightcurve.x}},
                        title: {
                            text: 'MJD',
                            style: {
                                color: '#89A54E'
                            }
                        }
        }],
        yAxis: [{ // Primary yAxis
            reversed:true,
            labels: {
                formatter: function() {
                    return this.value;
                },
                style: {
                    color: '#89A54E'
                }
            },
            title: {
                text: 'Magnitude (AB)',
                style: {
                    color: '#89A54E'
                }
            }
        },],

        tooltip: {
            shared: true
        },

        series: [{
            name: '{{lc_band}}',
            color: '#89A54E',
            type: 'spline',
            data: {{lightcurve.y}},
            tooltip: {
                pointFormat: '<span style="font-weight: bold; color: {series.color}">{series.name}</span>: <b>{point.y:.1f}</b> '
            }
        }, {
            name: 'Magnitude error',
            type: 'errorbar',
            data: {{lightcurve.yerr}},
            tooltip: {
                pointFormat: ''
            }
        }]
    });
});

$(function() {
    $('#sed').highcharts({
        chart: {
            zoomType: 'xy'
        },
        title: {
            text: 'Spectral energy distribution'
        },
        xAxis: [{
            categories: {{SED.x}},
                        title: {
                            text: 'Wavelength (nm)',
                            style: {
                                color: '#89A54E'
                            }
                        }
        }],
        yAxis: [{ // Primary yAxis
            reversed:true,
            labels: {
                formatter: function() {
                    return this.value;
                },
                style: {
                    color: '#89A54E'
                }
            },
            title: {
                text: 'Magnitude (AB)',
                style: {
                    color: '#89A54E'
                }
            }
        },],

        tooltip: {
            shared: true
        },

        series: [{
            name: 'Magnitude',
            color: '#89A54E',
            type: 'spline',
            data: {{SED.y}},
            tooltip: {
                pointFormat: '<span style="font-weight: bold; color: {series.color}">{series.name}</span>: <b>{point.y:.1f}</b> '
            }
        }, {
            name: 'Magnitude error',
            type: 'errorbar',
            data: {{SED.yerr}},
            tooltip: {
                pointFormat: ''
            }
        }]
    });
});

$(document).ready(function(){
      $('#source_datatable').dataTable();
      });


$(document).ready(function() {
    $('img.forcedetect').click(function() {
        if ( $('img.busy').length > 3 ) {
          alert('Only 4 active reductions are allowed!')
          return
        };

        var target = this.className.split(" ")
        var OB = target[1].split("?")[1]
        var TARGETID = target[1].split("?")[0]
        $.ajax({
          type: 'HEAD',
          data: { 
            'ra': {{nominalOB.0.astrosource.RA}},
            'dec': {{nominalOB.0.astrosource.DEC}},
            'OB': OB,
            'TARGETID': TARGETID,
          },
          dataType: 'json',
          url: '/forcedetect/',
          success: function(data, textStatus, jqXHR){
            console.debug('success:');
            console.debug(data);
            console.debug(textStatus);
            console.debug(jqXHR);
            console.debug('end')
          },
        });
        
                
        this.src = "{{STATIC_URL}}images/ajax-loader.gif"
        this.className+= " busy"
    });
  });




</script>


<div id="source_title">
  Target RA, Dec: {{nominalOB.0.astrosource.RA}}, {{nominalOB.0.astrosource.DEC}}
  <div class="subtitle">
    Image cutouts and SED derived from {{nominalOB.0.imageheader.OB}}. {{ lc_band }}-band lightcurve.
  </div>
</div>


<!--Lightcurve, SED, cutouts-->
<div id='image-cutout'>
  {% for hdr in imageheaders %}
  <img src="{{MEDIA_URL}}{{hdr.fname}}" />
  {% endfor %}
</div>
<div id="lightcurve"></div>
<div id="sed"></div>

<!--Data table-->
<table id="source_datatable">
  <thead>
    <tr>
      {% for column in userColumns %}
      <th>{{column}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for OB in source_data %}
      <tr>
      {% for column in userColumns %}
        {% if column == "OBname" %}
        <td><a href='/fields/{{nominalOB.0.imageheader.TARGETID}}/{{OB.OBname}}'>{{OB | hash:column }}</a></td>
        {% else %}
          {% if OB|hash:column %}
        <td>{{OB|hash:column }}</td>
          {% else %}
            {% if "_err" not in column %}
        <td> <img src="{{STATIC_URL}}images/plus_circle.png" class="forcedetect {{nominalOB.0.imageheader.TARGETID}}?{{OB.OBname}}" /> </td>
            {% else %}
            <td></td>
            {% endif %}          
          {% endif %}
        {% endif %}      
      {% endfor %}
      </tr>
      {% endfor %}
  </tbody>
</table>

