body {
  height: 100%;
  font: 100% Arial, Helvetica, sans-serif; }

* {
  margin: 0;
  padding: 0; }

#banner {
  height: 90px;
  width: 1360px; }

#navbar {
  background: white;
  background: -moz-linear-gradient(white, #cccccc);
  background: -o-linear-gradient(white, #cccccc);
  background: -webkit-linear-gradient(white, #cccccc);
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  width: 190px;
  height: 1080px;
  float: left;
  padding-right: 10px; }
  #navbar li {
    padding: 0 0 0 0px;
    list-style: none;
    margin-top: 90px;
    background: transparent; }
    #navbar li a {
      float: left;
      font: bold 120% Arial, Helvetica, sans-serif;
      height: 24px;
      padding-top: 10px;
      padding-bottom: 0;
      padding-left: 15px;
      padding-right: 20px;
      background: transparent;
      text-align: left;
      color: #000;
      text-shadow: 1px 1px white;
      text-decoration: none; }
      #navbar li a .hover, #navbar li a:hover {
        color: #737373; }
  #navbar .login a {
    color: #F00; }
  #navbar .logout a {
    color: #007BFF; }

#content-container {
  position: absolute;
  width: 1335px;
  margin-left: 215px;
  margin-right: 0px;
  border: 1px solid green; }
  #content-container #form-container {
    float: left;
    width: 333.75px;
    background: #e6e6e6;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    margin-right: 7.5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px; }
    #content-container #form-container .hint {
      font-size: 0.8em;
      color: blue; }
    #content-container #form-container table {
      width: 100%; }
      #content-container #form-container table li {
        list-style-type: none; }
      #content-container #form-container table .coordinates_input {
        width: 100%; }
      #content-container #form-container table .area_input {
        width: 20%; }
      #content-container #form-container table .bands_checkbox {
        width: 20px; }
      #content-container #form-container table .errorlist {
        font-size: 0.8em;
        color: red; }
  #content-container #image-container {
    float: left;
    background: #e6e6e6;
    width: 934.5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    border: 2px solid green; }
    #content-container #image-container .image {
      float: left;
      border: 2px solid blue; }
    #content-container #image-container .image-info * {
      text-decoration: none;
      list-style: none; }

#footer {
  clear: both;
  position: relative;
  margin-left: 50%;
  z-index: 10;
  height: 3em;
  margin-top: -30-em; }

/* animated spoiler CSS by Bloggersentral.com */
.spoilerbutton {
  display: block;
  margin: 5px 0; }

.spoiler {
  overflow: hidden;
  background: #f5f5f5; }

.spoiler > div {
  -webkit-transition: all 0.2s ease;
  -moz-transition: margin 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: margin 0.2s ease; }

.spoilerbutton[value="Show"] + .spoiler > div {
  margin-top: -100%; }

.spoilerbutton[value="Hide"] + .spoiler {
  padding: 5px; }
