<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="en">
  <head>
    <meta name="robots" content="noindex">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    <script src="{{ STATIC_URL }}js/lib/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/lib/graph/jquery.graph.js"></script>
    <script src="{{ STATIC_URL }}js/lib/rgraph/RGraph.common.core.js"></script>
    <script src="{{ STATIC_URL }}js/lib/rgraph/RGraph.rscatter.js"></script>         <!-- Just needed for Rscatter charts -->
    <script src="{{ STATIC_URL }}js/lib/rgraph/RGraph.scatter.js"></script>          <!-- Just needed for Scatter charts -->
    <script src="{{ STATIC_URL }}js/lib/rgraph/RGraph.bar.js"></script>              <!-- Just needed for Bar charts -->
    {% include "nav.html" %}
  </head>

  <body>
    {% include "banner.html" %}
    <div id="content-container">
      {% block content %}
      {% endblock %}
    </div>
    {% include "footer.html" %}
  </body>
</html>

