{% extends "base.html" %}
{% block content %}

<div class="span2">
<div class="well">
  {% if form %}
  <form class="" action="" method="post">{% csrf_token %}
    {% for field in form %}
    {{ field.errors }}
    <div class="control-group">
      <label class="control-label" for="id_{{ field.name}}">{{ field.label }}</label>
      <div class="controls">
        {{ field }}
      </div>
    </div>
    {% endfor %}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Search</button>
      </div>
    </div>
  </form>
  {% endif %}

    <div class="hint">
    (Hint) coordinates of the stubdata are: <br> ra,dec 315.297, -51.096 (target1)<br>32.55223, -27.10571 (target2)<br>150.02838, 2.27318 (COSMOS03) <br>
    235.01388, 12.87664 (SWIFT-519380) <br>
    </div>

</div>
</div>

<div class="span9">
{% if fields %}
{% include "content/imagequery_content.html" %}
{% endif %}

{% if sources %}
{% include "content/objectquery_content.html" %}
{% endif %}

{% if source_data %}
{% include "content/source_content.html" %}
{% endif %}

{% if field_data %}
{% include "content/field_content.html" %}
{% endif %}

{% if ob_data %}
{% include "content/ob_content.html" %}
{% endif %}

{% if user_sources_data %}
{% include "content/usersources_content.html" %}
{% endif %}
</div>
<div class="span1"></div>
{% endblock %}
