{% extends "base.html" %}
{% block content %}
{% if form %}
<div id="form-container">
  {% if formerror %}
  <div class="errorlist">{{ formerror }}</div>
  {% endif %}

  <form action="" method="post">{% csrf_token %}
    <table>
    {{ form.as_table }}
    </table> 
    <input id="submit" type="submit" value="Search for images">
  </form>

  <div class="hint">
  (Hint) coordinates of the stubdata are: <br> ra,dec 315.297, -51.096 (target1)<br>32.55223, -27.10571 (target2)<br>150.02838, 2.27318 (COSMOS03) <br>
  235.01388, 12.87664 (SWIFT-519380) <br>
  </div>


  {% if hint %}
  <div class="hint">
  {{ hint }}
  </div>
  {% endif %}
</div>
{% endif %}

{% if fields %}
{% include "content/imagequery_content.html" %}
{% endif %}

{% if sources %}
{% include "content/objectquery_content.html" %}
{% endif %}

{% if source_data %}
{% include "content/source_content.html" %}
{% endif %}

{% endblock %}
