{% extends "base.html" %}
{% block content %}
<div id="form-container">
  {% if formerror %}
  <div class="errorlist">{{ formerror }}</div>
  {% endif %}

  <form action="" method="post">{% csrf_token %}
    <table>
    {{ form.as_table }}
    </table> 
    <input id="submit" type="submit" value="Search for images">
  </form>

  <div class="hint">
  (Hint) coordinates of the stubdata are ra,dec 315.297, -51.096
  </div>


  {% if hint %}
  <div class="hint">
  {{ hint }}
  </div>
  {% endif %}

</div>

{% if images %}
{% include "imagequery_content.html" %}
{% endif %}

{% endblock %}
