{% extends "base.html" %}
{% block content %}
<div id="form">
  {% if formerror %}
  <div class="formerror">
    <p>{{ formerror }}</p>
  </div>
  {% endif %}

  <form action="" method="post">{% csrf_token %}
    <table>
    {{ form.as_table }}
    </table> 
    <input id="submit" type="submit" value="Search for images">
  </form>
</div>

<div class="hint">
  <p>(Hint) coordinates of the stubdata are ra,dec 315.297, -51.096
</div>

{% if images %}
<div id="image-area">
  {% for image in images %}
  <div class="image"><img src="{{ MEDIA_URL }}{{ image }}" /></div>
  {% endfor %}
</div>
{% endif %}

{% endblock %}
