<script src="{{ STATIC_URL }}js/imagequery.js"></script>  <!--Load the images only when the server has created them-->
<div id="image-container">
  {% for image in images %}
  <div class="image">
    <img src="" />
    <div class="image-info">
      <ul>
        <li>Field TARGETID: {{ image.TARGETID }}</li>
        <li>Band: {{ image.FILTER }}</li>
        <li>Date: {{ image.DATE_OBS }}</li>
        <li><a href="X">Query detected objects in this field</a></li>
        <li><a download="grond.png" type="application/octet-stream" href="{{ MEDIA_URL }}{{ image.PATH_PNG }}">Download PNG</a></li>
        <li><a href="{{ image.PATH_RAW }}">Download FITS</a></li>
      </ul>    
      <script>
      file = "{{ MEDIA_URL }}{{ image.PATH_PNG }}"
      int_id = setInterval(function(){fileExists(file)}, updateInterval)
      </script>
    </div>
  </div>
  {% endfor %}
</div>
