<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">GrondView</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li {% if request.path == "/" %} class="active" {% endif %}><a href="/">Home</a></li>
          <li {% if "/imagequery/" in request.path %} class="active" {% endif %} ><a href="/imagequery/">Image query</a></li>
          <li {% if "/objectquery/" in request.path %} class="active" {% endif %} ><a href="/objectquery">Object query</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Misc. <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/readme/">Readme</a></li>
              <li><a href="/contact/">Contact</a></li>
              <li><a href="/impressum/">Impressum</a></li>
            </ul>
          </li>
          {% if user.is_authenticated %}
          <li style="margin-left: 100px;"{% if "/accounts/{{user.username}}/" in request.path %} class="active" {% endif %} ><a href="/accounts/{{user.username}}">My account</a></li>
          <li><a href="/logout/">Log out</a></li>
          {% endif %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>


