{% extends 'userena/base_userena.html' %}
{% load url from future %}

{% block content %}
{% if user.username == profile.user.username %}
{% include 'userena/profile_navbar.html' %}
{% endif %}
<style>
input {
  width:100%;
}
</style>
<div class="span4 offset3">
<div class="well">
  <form action="" method="post" id="password_change_form">
    <table>
      {% csrf_token %}
      {{ form.as_table }}
    </table>
  </form>
<input class="btn" type="submit" value="Change password" />
</div>
</div>
{% endblock %}
