{% extends 'userena/base_userena.html' %}

{% block content %}
<script>
$(document).ready(function() {
    $("input#id_username").focus();
    $("input").addClass('input-block-level')
}); 
</script> 

<div class="span2"></div>
<div class="span4">
<div class="well">
  <form class="form-horizontal" action="" method="post">{% csrf_token %}
    {% for field in form %}
    {{ field.errors }}
    <div class="control-group">
      <label class="control-label" for="id_{{ field.name}}">{{ field.label }}</label>
      <div class="controls">
        {{ field }}
      </div>
    </div>
    {% endfor %}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Signup</button>
      </div>
    </div>
  </form>
</div>
</div>
<div class="span6"></div>
{% endblock %}
